---
layout: cv
permalink: /cv/
title: CV
tagline: Data Visualization Researcher at Technische Universität Berlin
researchArea: "Ich entwickle Plattformen und Technologien, die es Analysten, Entscheidungsträgern und der Öffentlichkeit ermöglichen, zu sehen und zu kommunizieren, was ihre Verkehrsdaten ihnen sagen wollen. Ich bringe zwei Jahrzehnte Erfahrung in der Leitung technischer Teams zur Unterstützung des Gemeinwohls mit."

---

<section class="container">

<div style="display: flex; flex-direction: row;">
  <div style="flex: 1;">
    <h1><a href="{{ absolute_url }}/">Billy Charlton</a></h1>

    <small class="live-link">Last updated in
      <time datetime="{{ site.time }}">{{ site.time | date: '%B %Y'}}</time>.
      Get the latest version at <a href="{{ '/cv' | absolute_url }}">billyc.github.io/cv</a>.
    </small>

    <div>
      <p>{{ page.tagline }}</p>
      <p>
        <b>Email</b> <a href="mailto:charlton@tu-berlin.de">charlton@tu-berlin.de</a></b> &nbsp; <b>Website</b> <a href="{{ absolute_url }}/">billyc.github.io</a><br/>
        <b>Nationalität</b> USA &nbsp; <b>Geburtstag</b> 26.12.1969 &nbsp; <b>Familienstand</b> Single</br>
      </p>
    </p>
  </div>

  </div>

<div class="header-columns">
  <div style="width: 100%; text-align: right;">
    <picture>
      <source srcset='/images/profi-headshot.jpg' type='image/jpg' />
      <img style="margin-top: 2.5rem; width: 10rem"
        src='/images/profi-headshot.jpg'
        alt='Billy Charlton'/>
    </picture>
      <p class="right-align">
    </p>
  </div>
</div>
</div>

<hr/>

<h2>Forschungsbereich</h2>

<p>
{{ page.researchArea}}
</p>


<h2>Berufserfahrung</h2>

{% for pos in site.data.positions %}
<article>
  <div class="date-container">
    <span class="date">{{ pos.years | replace: "-", "–" }}</span>
    <strong class="fill">{{ pos.title }}{% if pos.company %}, {{pos.company}}{% endif %}</strong>
    <span class="right">{{ pos.location }}</span>
  </div>
  <p>
    {% for desc in pos.description %}
      <span class="muted" style="line-height: 1.2rem">{{ desc | markdownify | remove: '<p>' | remove: '</p>' }}</span>{% unless forloop.last %}<br/>{% endunless %}
    {% endfor %}
  </p>
</article>
{% endfor %}


<h2>Bildung</h2>

{% for ed in site.data.education %}
<article>
  <div class="date-container">
    <span class="date">{{ ed.years | replace: "-", "–" }}</span>
    <strong class="fill">{{ ed.degree }}, {{ ed.university }}</strong>
    <span class="right">{{ ed.location }}</span>
  </div>
  <p>
    {% for des in ed.description %}
      <span>{{ des | markdownify | remove: '<p>' | remove: '</p>' }}</span>{% unless forloop.last %}<br/>{% endunless %}
    {% endfor %}
  </p>
</article>
{% endfor %}

<!--
<h2>Notable Awards</h2>

{% for award in site.data.awards %}
<article>
  <div class="date-container">
    <span class="date">{{ award.years | replace: "-", "–" }}</span>
    <strong class="fill">{{ award.name }}</strong>
    <span class="right">{{ award.sponsor }}</span>
  </div>
  <p class="muted">
    {{ award.description }}
  </p>
</article>
{% endfor %}

-->

<h2>Publikationen</h2>

{% assign sorted_pubs = site.publications | reverse %}

<!-- {% assign types = "Conference|Journal|Book Chapter|Demo|Workshop|Thesis" | split: "|" %} -->

{% assign types = "Konferenz|Journal" | split: "|" %}
{% for type in types %}
  {% assign counter = 1 %}
  {% for pub in sorted_pubs %}
    {% if pub.type[0] == type %}
      {% assign counter = counter | plus: 1 %}
    {% endif %}
  {% endfor %}

  <h3 class="pub-type">
    {{ type }}
  </h3>

  {% for pub in sorted_pubs %}
    {% if pub.type[0] == type %}
      {% assign counter = counter | minus: 1 %}
      <article class="pub">
        <div class="ref-container">{{ type | slice: 0 }}{{ counter }}</div>
        <strong class="fill">{% if pub.pdf %}<a href="{{ pub.pdf }}">{{ pub.title }}</a>{% else %}{{ pub.title }}{%endif%}</strong>
        <div>
          {% for author in pub.authors %}{% include person person=author %}{% unless forloop.last %}, {% endunless %}{% endfor %}.
          {% if pub.venue or pub.description %}<i>{% if pub.description %}{{ pub.description | markdownify | remove: '<p>' | remove: '</p>' }}{% endif %}{{ pub.venue }}</i>{% if pub.venue %},{% endif %} {% endif %}{{ pub.year }}.

          {% if pub.link or pub.pdf or pub.video or pub.blog or pub.slides or pub.doi %}
            <div class="extra-links">
            {% if pub.pdf %}
              <a href="{{ pub.pdf }}">
                <i class="far fa-file-pdf" aria-hidden="true"></i> PDF
              </a>
            {% endif %}
            {% if pub.link %}
              <a href="{{ pub.link }}">
                <i class="fas fa-link" aria-hidden="true"></i> Project
              </a>
            {% endif %}
            {% if pub.blog %}
              <a href="{{ pub.blog }}">
                <i class="fas fa-newspaper" aria-hidden="true"></i> Article
              </a>
            {% endif %}
            {% if pub.video %}
              <a href="{{ pub.video }}">
                <i class="fas fa-film" aria-hidden="true"></i> Video
              </a>
            {% endif %}
            {% if pub.doi %}
              <a href="https://www.doi2bib.org/bib/{{ pub.doi }}">
                <i class="fas fa-book" aria-hidden="true"></i> Bibtex
              </a>
            {% elsif pub.arxiv %}
              <a href="https://arxiv2bibtex.org/?q={{ pub.arxiv | cgi_escape }}">
                <i class="fas fa-book" aria-hidden="true"></i> Bibtex
              </a>
            {% endif %}
            </div>
          {% endif %}

          {% for award in pub.awards %}<strong class="award"><i class="fas fa-{% if award == "Best Paper Award" %}trophy{% else %}award{% endif %}" aria-hidden="true"></i> {{ award }}</strong>{% endfor %}
        </div>
      </article>
    {% endif %}
  {% endfor %}
{% endfor %}


<!--
<h2>Talks  <a href="{{ '/talks/' | absolute_url }}">[Interactive Version]</a></h2>

{% assign talktitles = site.data.talks | group_by:"title" %}
{% for title in talktitles %}
<article>
  <h3 class="cv-talk-title">{{ title.name }}</h3>
  {% assign sorted_talks = title.items | sort: 'date' | reverse %}
  {% for talk in sorted_talks %}
    <div class="date-container">
      <time datetime="{{ talk.date }}">{{ talk.date | date: "%b %Y" }}</time>
      <span class="fill">{{ talk.location }}{% if talk.city %}, <small class="muted">{{ talk.city }}</small>{% endif %}</span>

    </div>
  {% endfor %}
</article>
{% endfor %}

-->

<h2>Unterricht</h2>

{% for teach in site.data.teaching %}
<article>
  <div class="date-container">
    <span class="date">{{teach.year}}</span>
    <strong class="fill">{{ teach.title }}</strong>
    <span class="right">{{ teach.location }}</span>
  </div>
  <p>
    {% if teach.professor %}
      {% if teach.role %}
        {{ teach.role }} for
      {% endif %}
      {% include person person=teach.professor %},
      {{ teach.students }}
      <br/>
    {% endif %}
    <span class="muted">
      {{ teach.description | markdownify | remove: '<p>' | remove: '</p>' }}
    </span>
  </p>
</article>
{% endfor %}

<!--
<h2>Mentoring Experience</h2>

{% for mentor in site.data.mentoring %}
  <div class="date-container">
    <span class="date">{{ mentor.year | replace: "-", "–" }}</span>
    <h3>{{ mentor.title }}</h3>
    <span class="right">{{ mentor.location }}</span>
  </div>
  <p>
    <span class="muted">
      {{ mentor.description }}
    </span>
    {% if mentor.who %}
      <h4>Mentored:</h4>
      <ul>
      {% for person in mentor.who %}
        <li class="muted">{% include person person=person %}</li>
      {% endfor %}
      </ul>
    {% endif %}
  </p>
{% endfor %}
-->

<h2>Dienst</h2>

{% for service in site.data.service %}
  <div class="date-container">
    <span class="date">{{ service.year | replace: "-", "–" }}</span>
    <h3>{{ service.title }}</h3>
    <span class="right">{{ service.location }}</span>
  </div>
  <p>
    <span class="muted">
      {{ service.text }}
    </span>
  </p>
{% endfor %}

<h2>Referenzen</h2>

<div class="refs">
  <p>
    <strong>Kai Nagel</strong><br/>
    Professor of Transportation Engineering<br/>
    <i>Technische Universität Berlin</i><br/>
    <a href="https://www.tu-berlin.de/?id=12926">www.tu-berlin.de</a>
  </p>

  <p>
    <strong>Joseph Castiglione</strong><br/>
    Deputy Director, Transportation and Data Analysis<br/>
    <i>San Francisco County Transportation Authority</i><br/>
    <a href="https://www.sfcta.org/contact-us">www.sfcta.org</a>
  </p>

  <p>
    <strong>Zabe Bent</strong><br/>
    Director of Design<br/>
    <i>NACTO</i><br/>
    <a href="https://nacto.org/person/zabe-bent-2/">nacto.org/person/zabe-bent-2</a>
  </p>

  <p>
    <strong>Joshua Brown</strong><br/>
    Executive Director<br/>
    <i>Puget Sound Regional Council</i><br/>
    <a href="https://www.psrc.org/staff/josh-brown">psrc.org/staff/josh-brown</a>
  </p>

</div>

</section>
