<footer>
  <div class="container">
    <div class="footer-col">
      <img src="/images/headshot3.jpg" width="75" />
    </div>
    <div class="footer-col">
      Hallo aus Berlin.<br />
      <!-- <abbr title="Letztes Build {{site.time | date: '%Y-%m-%d'}}"
        >{{ site.time | date: '%B %Y'}}
      </abbr> -->
    </div>
    <div class="footer-col">
      <a
        href="https://github.com/billyc/billyc.github.io/edit/master/{{page.path}}"
        >&nbsp;&nbsp;</a
      >
      <br />
      <!--Theme by
      <a href="https://www.domoritz.de">Dominik Moritz</a>
      -->
    </div>
    <div class="footer-col site-desc">
      {{ site.description }}
      <br /><a href="https://twitter.com/billyinberlin">@billyinberlin</a> bei
      Twitter.
    </div>
  </div>
</footer>
